<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ntq.baseMgr.mapper.CompanyPositionInfosMapper">
    <resultMap id="BaseResultMap" type="com.ntq.baseMgr.po.CompanyPositionInfos">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="company_infos_id" property="companyInfosId" jdbcType="BIGINT"/>
        <result column="position_no" property="positionNo" jdbcType="BIGINT"/>
        <result column="position_name" property="positionName" jdbcType="VARCHAR"/>
        <result column="high_salary" property="highSalary" jdbcType="DECIMAL"/>
        <result column="low_salary" property="lowSalary" jdbcType="DECIMAL"/>
        <result column="position_type" property="positionType" jdbcType="INTEGER"/>
        <result column="qualifications_type" property="qualificationsType" jdbcType="INTEGER"/>
        <result column="low_working_life" property="lowWorkingLife" jdbcType="INTEGER"/>
        <result column="high_working_life" property="highWorkingLife" jdbcType="INTEGER"/>
        <result column="work_address" property="workAddress" jdbcType="VARCHAR"/>
        <result column="is_valid" property="isValid" jdbcType="INTEGER"/>
        <result column="server_create_date" property="serverCreateDate" jdbcType="TIMESTAMP"/>
        <result column="server_update_date" property="serverUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="deadline" property="deadline" jdbcType="TIMESTAMP"/>
        <result column="is_discuss_personally" property="isDiscussPersonally" jdbcType="TINYINT"/>
        <result column="postion_status" property="postionStatus" jdbcType="INTEGER"/>
        <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.ntq.baseMgr.po.CompanyPositionInfosWithBLOBs" extends="BaseResultMap">
        <result column="position_desc" property="positionDesc" jdbcType="LONGVARCHAR"/>
        <result column="position_requirements" property="positionRequirements" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <resultMap id="PositionVoResultMap" type="com.ntq.baseMgr.vo.CompanyPositionInfoVo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="position_no" property="positionNo" jdbcType="BIGINT"/>
        <result column="position_name" property="positionName" jdbcType="VARCHAR"/>
        <result column="position_type" property="positionType" jdbcType="INTEGER"/>
        <result column="resume_count" property="resumeCount" jdbcType="INTEGER"/>
        <result column="server_create_date" property="serverCreateDate" jdbcType="TIMESTAMP"/>
        <result column="postion_status" property="postionStatus" jdbcType="INTEGER"/>
        <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="PositionExtVoResultMap" type="com.ntq.baseMgr.vo.CompanyPositionInfoExtVo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="company_infos_id" property="companyInfosId" jdbcType="BIGINT"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="position_no" property="positionNo" jdbcType="BIGINT"/>
        <result column="position_name" property="positionName" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="server_create_date" property="serverCreateDate" jdbcType="TIMESTAMP"/>
        <result column="postion_status" property="postionStatus" jdbcType="INTEGER"/>
        <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!--求职者查看职位信息的ResultMap-->

    <resultMap id="JobSeekerPositionVoResultMap" type="com.ntq.baseMgr.vo.JobSeekerPositionDealVo">
        <result column="position_id" property="positionId" jdbcType="BIGINT"/>
        <result column="company_infos_id" property="companyInfosId" jdbcType="BIGINT"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="position_no" property="positionNo" jdbcType="BIGINT"/>
        <result column="position_name" property="positionName" jdbcType="VARCHAR"/>
        <result column="server_create_date" property="serverCreateDate" jdbcType="TIMESTAMP"/>
        <result column="deal_Status" property="dealStatus" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, company_infos_id, position_no, position_name, high_salary, low_salary, position_type,
    qualifications_type, low_working_life, high_working_life, work_address, is_valid,
    server_create_date, server_update_date, deadline, is_discuss_personally, postion_status,
    publish_time
  </sql>
    <sql id="Blob_Column_List">
    position_desc, position_requirements
  </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from company_position_infos
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from company_position_infos
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ntq.baseMgr.po.CompanyPositionInfosWithBLOBs">
    update company_position_infos
    set company_infos_id = #{companyInfosId,jdbcType=BIGINT},
      position_no = #{positionNo,jdbcType=BIGINT},
      position_name = #{positionName,jdbcType=VARCHAR},
      high_salary = #{highSalary,jdbcType=DECIMAL},
      low_salary = #{lowSalary,jdbcType=DECIMAL},
      position_type = #{positionType,jdbcType=INTEGER},
      qualifications_type = #{qualificationsType,jdbcType=INTEGER},
      low_working_life = #{lowWorkingLife,jdbcType=INTEGER},
      high_working_life = #{highWorkingLife,jdbcType=INTEGER},
      work_address = #{workAddress,jdbcType=VARCHAR},
      is_valid = #{isValid,jdbcType=INTEGER},
      server_create_date = #{serverCreateDate,jdbcType=TIMESTAMP},
      server_update_date = #{serverUpdateDate,jdbcType=TIMESTAMP},
      position_desc = #{positionDesc,jdbcType=LONGVARCHAR},
      position_requirements = #{positionRequirements,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.ntq.baseMgr.po.CompanyPositionInfos">
    update company_position_infos
    set company_infos_id = #{companyInfosId,jdbcType=BIGINT},
      position_no = #{positionNo,jdbcType=BIGINT},
      position_name = #{positionName,jdbcType=VARCHAR},
      high_salary = #{highSalary,jdbcType=DECIMAL},
      low_salary = #{lowSalary,jdbcType=DECIMAL},
      position_type = #{positionType,jdbcType=INTEGER},
      qualifications_type = #{qualificationsType,jdbcType=INTEGER},
      low_working_life = #{lowWorkingLife,jdbcType=INTEGER},
      high_working_life = #{highWorkingLife,jdbcType=INTEGER},
      work_address = #{workAddress,jdbcType=VARCHAR},
      is_valid = #{isValid,jdbcType=INTEGER},
      server_create_date = #{serverCreateDate,jdbcType=TIMESTAMP},
      server_update_date = #{serverUpdateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <!--批量插入-->
    <insert id="insertByBatch" parameterType="java.util.List">
        insert into company_position_infos (company_infos_id, position_no,
        position_name, high_salary, low_salary,
        position_type, qualifications_type, low_working_life,
        high_working_life, work_address, is_valid,
        server_create_date, server_update_date,
        is_discuss_personally, postion_status,
        position_desc, position_requirements
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.companyInfosId,jdbcType=BIGINT}, #{item.positionNo,jdbcType=BIGINT},
            #{item.positionName,jdbcType=VARCHAR}, #{item.highSalary,jdbcType=DECIMAL},
            #{item.lowSalary,jdbcType=DECIMAL},
            #{item.positionType,jdbcType=INTEGER}, #{item.qualificationsType,jdbcType=INTEGER},
            #{item.lowWorkingLife,jdbcType=INTEGER},
            #{item.highWorkingLife,jdbcType=INTEGER}, #{item.workAddress,jdbcType=VARCHAR},
            #{item.isValid,jdbcType=INTEGER},
            #{item.serverCreateDate,jdbcType=TIMESTAMP}, #{item.serverUpdateDate,jdbcType=TIMESTAMP},
            #{item.isDiscussPersonally,jdbcType=TINYINT}, #{item.postionStatus,jdbcType=BIGINT},
            #{item.positionDesc,jdbcType=LONGVARCHAR}, #{item.positionRequirements,jdbcType=LONGVARCHAR}
            )
        </foreach>
    </insert>
    <!--添加新的职位信息-->
    <insert id="addCompanyPositionInfo" parameterType="com.ntq.baseMgr.po.CompanyPositionInfosWithBLOBs">
   insert into company_position_infos (company_infos_id, position_no,
      position_name, high_salary, low_salary,
      position_type, qualifications_type, low_working_life,
      high_working_life, work_address, is_valid,
      server_create_date, server_update_date,
      deadline, is_discuss_personally, postion_status,
      publish_time, position_desc, position_requirements
      )
    values ( #{companyInfosId,jdbcType=BIGINT}, #{positionNo,jdbcType=BIGINT},
      #{positionName,jdbcType=VARCHAR}, #{highSalary,jdbcType=DECIMAL}, #{lowSalary,jdbcType=DECIMAL},
      #{positionType,jdbcType=INTEGER}, #{qualificationsType,jdbcType=INTEGER}, #{lowWorkingLife,jdbcType=INTEGER},
      #{highWorkingLife,jdbcType=INTEGER}, #{workAddress,jdbcType=VARCHAR}, #{isValid,jdbcType=INTEGER},
      #{serverCreateDate,jdbcType=TIMESTAMP}, #{serverUpdateDate,jdbcType=TIMESTAMP},
      #{deadline,jdbcType=TIMESTAMP}, #{isDiscussPersonally,jdbcType=TINYINT}, #{postionStatus,jdbcType=BIGINT},
      #{publishTime,jdbcType=TIMESTAMP}, #{positionDesc,jdbcType=LONGVARCHAR}, #{positionRequirements,jdbcType=LONGVARCHAR}
      )
  </insert>


    <!--通过id查看详细信息-->
    <select id="getCompanyPositionInfoById" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>,
        <include refid="Blob_Column_List"/>
        from company_position_infos
        where id = #{id,jdbcType=BIGINT}
    </select>

    <!--分页查询 分页查询-->
    <select id="queryCompanyPositionInfoListByCondition" resultMap="PositionVoResultMap"
            parameterType="com.ntq.baseMgr.page.Page">
        SELECT
        id,
        position_no,
        position_name,
        publish_time,
        position.server_create_date AS server_create_date,
        postion_status,
        resume_count
        FROM
        company_position_infos position
        JOIN (SELECT
        job_code,
        count(1) AS resume_count
        FROM job_seeker_resume_delivery
        GROUP BY job_code) AS t2 ON position_no = t2.job_code
        <where>
            <if test="params.companyInfosId != '' and params.companyInfosId != null">
                AND position.company_infos_id = #{params.companyInfosId}
            </if>
            <if test="params.postionStatus != '' and params.postionStatus != null">
                AND position.postion_status = #{params.postionStatus}
            </if>
            <if test="params.publishTime != '' and params.publishTime != null">
                AND position.publish_time BETWEEN timestamp(DATE (#{params.publishTime,jdbcType=TIMESTAMP}))
                AND
                timestamp(DATE (#{params.publishTime,jdbcType=TIMESTAMP}),'23:59:59')
            </if>
            <if test="params.positionName != '' and params.positionName != null">
                AND position.position_name like CONCAT('%',#{params.positionName},'%')
            </if>
        </where>
    </select>

    <!--分页查询-->
    <select id="queryCompanyPositionInfoVoListByCondition" resultMap="PositionExtVoResultMap"
            parameterType="com.ntq.baseMgr.page.Page">
        SELECT
        position.id AS id,
        company_name,
        company_infos_id,
        position_name,
        position_no,
        postion_status,
        remark,
        position.server_create_date as server_create_date,
        publish_time
        FROM company_position_infos position JOIN company_infos company ON position.company_infos_id=company.id
        <where>
            <if test="params.companyName != '' and params.companyName != null">
                AND company.company_name = #{params.companyName}
            </if>
            <if test="params.postionStatus != '' and params.postionStatus != null">
                AND position.postion_status = #{params.postionStatus}
            </if>
            <if test="params.positionName != '' and params.positionName != null">
                AND position.position_name like CONCAT('%',#{params.positionName},'%')
            </if>
            <if test="params.serverCreateDate!='' and params.serverCreateDate!=null">
                AND position.server_create_date BETWEEN timestamp(DATE (#{params.serverCreateDate,jdbcType=TIMESTAMP}))
                AND
                timestamp(DATE (#{params.serverCreateDate,jdbcType=TIMESTAMP}),'23:59:59')
            </if>
            <if test="params.publishTime!='' and params.publishTime!=null">
                AND position.publish_time BETWEEN timestamp(DATE (#{params.publishTime})) AND
                timestamp(DATE (#{params.publishTime}),'23:59:59')
            </if>
        </where>
    </select>
    <!--更新职位信息-->
    <update id="updateCompanyPositionInfo" parameterType="com.ntq.baseMgr.po.CompanyPositionInfosWithBLOBs">
    update company_position_infos
    set
    position_no = #{positionNo,jdbcType=BIGINT},
    position_name = #{positionName,jdbcType=VARCHAR},
    high_salary = #{highSalary,jdbcType=DECIMAL},
    low_salary = #{lowSalary,jdbcType=DECIMAL},
    position_type = #{positionType,jdbcType=INTEGER},
    qualifications_type = #{qualificationsType,jdbcType=INTEGER},
    low_working_life = #{lowWorkingLife,jdbcType=INTEGER},
    high_working_life = #{highWorkingLife,jdbcType=INTEGER},
    work_address = #{workAddress,jdbcType=VARCHAR},
    is_valid = #{isValid,jdbcType=INTEGER},
    server_update_date = #{serverUpdateDate,jdbcType=TIMESTAMP},
    deadline = #{deadline,jdbcType=TIMESTAMP},
    is_discuss_personally = #{isDiscussPersonally,jdbcType=TINYINT},
    postion_status = #{postionStatus,jdbcType=BIGINT},
    publish_time = #{publishTime,jdbcType=TIMESTAMP},
    position_desc = #{positionDesc,jdbcType=LONGVARCHAR},
    position_requirements = #{positionRequirements,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <!--通过职位编号更新职位信息-->
    <update id="updateCompanyPositionInfoById">
        update company_position_infos
        set
        postion_status = 3,
        remark=#{message,jdbcType=VARCHAR}
        where id = #{positionId,jdbcType=BIGINT}
    </update>


    <!--分页查询投递者投递的职位-->
    <select id="queryJobSeekerPositionVoList" resultMap="JobSeekerPositionVoResultMap"
            parameterType="com.ntq.baseMgr.page.Page">
        SELECT
        company_infos_id,
        company_name,
        position.id as position_id,
        position_no,
        position_name,
        delivery.deal_status AS deal_status,
        delivery.server_create_date AS server_create_date
        FROM job_seeker_resume_delivery delivery
        JOIN company_position_infos position ON delivery.job_code = position.position_no
        JOIN company_infos company ON position.company_infos_id = company.id
        JOIN job_seeker_infos jobSeeker ON delivery.job_seeker_infos_id=jobSeeker.id
        <where>
            <if test="params.jobSeekerInfosId!='' and params.jobSeekerInfosId!=null">
                AND jobSeeker.id= #{params.jobSeekerInfosId}
            </if>
            <if test="params.companyName != '' and params.companyName != null">
                AND company.company_name = like CONCAT('%',#{params.companyName},'%')
            </if>
            <if test="params.dealStatus != '' and params.dealStatus != null">
                AND delivery.deal_status = #{params.postionStatus}
            </if>
            <if test="params.positionName != '' and params.positionName != null">
                AND position.position_name like CONCAT('%',#{params.positionName},'%')
            </if>
            <if test="params.positionNo != '' and params.positionNo != null">
                AND position.position_no like CONCAT('%',#{params.positionNo},'%')
            </if>
            <if test="params.serverCreateDate!='' and params.serverCreateDate!=null">
                AND delivery.server_create_date BETWEEN timestamp(DATE (#{params.serverCreateDate,jdbcType=TIMESTAMP}))
                AND
                timestamp(DATE (#{params.serverCreateDate,jdbcType=TIMESTAMP}),'23:59:59')
            </if>
        </where>
    </select>

</mapper>