<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ntq.baseMgr.mapper.JobSeekerInfosMapper">
    <resultMap id="BaseResultMap" type="com.ntq.baseMgr.po.JobSeekerInfos">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="job_seeker_name" property="jobSeekerName" jdbcType="VARCHAR"/>
        <result column="job_seeker_sex" property="jobSeekerSex" jdbcType="BIGINT"/>
        <result column="job_seeker_phone" property="jobSeekerPhone" jdbcType="BIGINT"/>
        <result column="job_seeker_email" property="jobSeekerEmail" jdbcType="VARCHAR"/>
        <result column="job_seeker_weixin" property="jobSeekerWeixin" jdbcType="VARCHAR"/>
        <result column="graduate_school" property="graduateSchool" jdbcType="VARCHAR"/>
        <result column="major_subjects" property="majorSubjects" jdbcType="VARCHAR"/>
        <result column="record_of_formal_schooling" property="recordOfFormalSchooling" jdbcType="INTEGER"/>
        <result column="graduate_date" property="graduateDate" jdbcType="DATE"/>
        <result column="server_create_date" property="serverCreateDate" jdbcType="TIMESTAMP"/>
        <result column="server_update_date" property="serverUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="is_valid" property="isValid" jdbcType="INTEGER"/>
        <result column="is_add_ntqweixin" property="isAddNtqweixin" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="BaseResultVoMap" type="com.ntq.baseMgr.po.JobSeekerInfosExtDto">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="job_seeker_name" property="jobSeekerName" jdbcType="VARCHAR"/>
        <result column="job_code" property="jobCode" jdbcType="VARCHAR"/>
        <result column="job_seeker_phone" property="jobSeekerPhone" jdbcType="BIGINT"/>
        <result column="job_seeker_weixin" property="jobSeekerWeixin" jdbcType="VARCHAR"/>
        <result column="resume_path" property="resumePath" jdbcType="VARCHAR"/>
        <result column="resumeDeliveryId" property="resumeDeliveryId" jdbcType="BIGINT"/>
        <result column="deal_status" property="dealStatus" jdbcType="INTEGER"/>
    </resultMap>
    <!--求职者查看职位信息-->

    <!--求职者简约信息-->
    <resultMap id="JobSeekerResultMap" type="com.ntq.baseMgr.vo.JobSeekerInfoVo">
        <result column="job_seeker_name" property="jobSeekerName" jdbcType="VARCHAR"/>
        <result column="job_seeker_phone" property="jobSeekerPhone" jdbcType="BIGINT"/>
        <result column="record_of_formal_schooling" property="recordOfFormalSchooling" jdbcType="INTEGER"/>
    </resultMap>

    <!--求职者职位详细信息 todo-->
    <resultMap id="JobSeekerPositionDetailResultMap" type="com.ntq.baseMgr.vo.JobSeekerPositionDetailVo">
        <result column="job_seeker_weixin" property="jobSeekerWeixin" jdbcType="VARCHAR"/>
        <result column="job_seeker_name" property="jobSeekerName" jdbcType="VARCHAR"/>
        <result column="job_seeker_phone" property="jobSeekerPhone" jdbcType="BIGINT"/>
        <result column="record_of_formal_schooling" property="recordOfFormalSchooling" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, job_seeker_name, job_seeker_sex, job_seeker_phone, job_seeker_email, job_seeker_weixin, 
    graduate_school, major_subjects, graduate_date, server_create_date, server_update_date, 
    is_valid
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from job_seeker_infos
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from job_seeker_infos
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <!--插入并返回当前录入求职者的行数据id-->
    <insert id="insertAndGetKey"
            parameterType="com.ntq.baseMgr.po.JobSeekerInfos">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        insert into job_seeker_infos (job_seeker_name, job_seeker_sex,
        job_seeker_phone, job_seeker_email, job_seeker_weixin,
        graduate_school, major_subjects, record_of_formal_schooling,
        graduate_date, server_create_date, server_update_date,
        is_valid, is_add_ntqweixin)
        values (#{jobSeekerName,jdbcType=VARCHAR}, #{jobSeekerSex,jdbcType=BIGINT},
        #{jobSeekerPhone,jdbcType=BIGINT}, #{jobSeekerEmail,jdbcType=VARCHAR}, #{jobSeekerWeixin,jdbcType=VARCHAR},
        #{graduateSchool,jdbcType=VARCHAR}, #{majorSubjects,jdbcType=VARCHAR},
        #{recordOfFormalSchooling,jdbcType=INTEGER},
        #{graduateDate,jdbcType=DATE}, #{serverCreateDate,jdbcType=TIMESTAMP}, #{serverUpdateDate,jdbcType=TIMESTAMP},
        #{isValid,jdbcType=INTEGER}, #{isAddNtqweixin,jdbcType=INTEGER})
    </insert>
    <!--分页查询-->

    <select id="queryJobSeekerInfosListByCondition" resultMap="BaseResultVoMap"
            parameterType="com.ntq.baseMgr.page.Page">
        SELECT
        t1.id as id ,deal_status,job_code,job_seeker_name,job_seeker_phone,job_seeker_weixin,resume_path,t2.id as
        resumeDeliveryId
        FROM itntqdb.job_seeker_infos t1, itntqdb.job_seeker_resume_delivery t2
        WHERE t1.is_valid = 1
        AND t1.id=t2.job_seeker_infos_id
        <if test="params['job_code'] != '' and params['job_code'] != null">
            AND job_code like #{params.job_code}
        </if>
        <if test="params['job_seeker_phone'] != '' and params['job_seeker_phone'] != null">
            AND job_seeker_phone like #{params.job_seeker_phone}
        </if>
        <if test="params['deal_status'] != '' and params['deal_status'] != null">
            AND deal_status = #{params.deal_status}
        </if>
        AND t2.is_valid=1
    </select>

    <!--通过用户id查询当前求职者的个人信息-->
    <select id="getJobSeekerInfoById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from job_seeker_infos
        where id = #{id,jdbcType=BIGINT}
    </select>

    <!--通过电话号码查询用户-->
    <select id="getJobSeekerInfoByPhoneNo" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from job_seeker_infos
        where job_seeker_phone = #{phoneNumber,jdbcType=BIGINT}
    </select>

    <!--公司查看求职者信息-->
    <select id="queryJobSeekerInfoVoList" resultMap="JobSeekerResultMap"
            parameterType="com.ntq.baseMgr.page.Page">
        SELECT
        job_seeker_name,
        job_seeker_phone,
        record_of_formal_schooling
        FROM job_seeker_infos
        JOIN job_seeker_resume_delivery
        ON job_seeker_infos.id = job_seeker_infos_id
        JOIN company_position_infos postion
        ON job_code = position_no
        <where>
            <if test="params.positionId != '' and params.positionId != null">
                AND postion.id = #{params.positionId}
            </if>
        </where>
    </select>
    <!--根据id批量删除记录-->
    <update id="deleteBatchJobSeekerInfoListAndResumeDelivery" parameterType="java.util.List">
        UPDATE job_seeker_infos SET is_valid=2 WHERE id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>;
    </update>
    <!--分页查询求职者职位状态信息 todo 未作测试-->
    <select id="queryJobSeekerPositionDetailVoByCondition" parameterType="com.ntq.baseMgr.page.Page"
            resultMap="JobSeekerPositionDetailResultMap">
        SELECT
          delivery.job_code AS position_no,
          position_name,
          job_seeker_phone,
          job_seeker_weixin,
          record_of_formal_schooling,
          delivery.id       AS resumeId,
          job_seeker_infos_id,
          deal_status,
          resume_name,
          company_name
        FROM job_seeker_resume_delivery delivery
          JOIN job_seeker_infos AS jobSeeker ON delivery.job_seeker_infos_id = jobSeeker.id
          JOIN company_position_infos position ON position.position_no= delivery.job_code  JOIN company_infos company ON company.id=position.company_infos_id
          <where>
              <if test="params.positionNo != '' and params.positionNo != null">
                  AND  delivery.job_code=#{params.positionNo}
              </if>
              <if test="params.jobSeekerPhone != '' and params.jobSeekerPhone != null">
                AND jobSeeker.job_seeker_phone=#{params.jobSeekerPhone}
              </if>
          </where>
</select>

</mapper>